# Copy this file name as secrets.yml in config folder and setup your username password and database name
development:
  username: "root"
  password:
  database: "EmailValidator_development"

test:
  username: "root"
  password:
  database: "EmailValidator_test"

production:
  username: "root"
  password:
  database: "EmailValidator_production"
